body{
    font: Arial, Helvetica, sans-serif;
}

#container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

#header{
    height: 245px;
    padding: 10px 0;
    background: linear-gradient(#360167,#6C02CD,#8F0B95,#BE0FC6);
}

.column {
  float: left;
  width: 15%;
  padding: 20px;
}

#brand{
    float: right;
    padding-right: 120px; 
    
}

h1 a{
    font-size: 150px;
    font-weight:bold;
    color: white;
    text-decoration:none;
    font-style: italic
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background:linear-gradient(#3D005C,#440097,#6A009E);
    padding: 15px 10px;
    margin: 20px 0px;
}

ul{
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 10px 55px;
    height: 30px;
    border-right: 1px solid white;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a, .dropbtn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 30px;
    transition: font-size 0.3s ease;
    color: white;
}

#menu ul li a:hover, #menu ul li a.active, .dropdown:hover .dropbtn {
    font-size: 20px;
    font-weight: bold;
color:black;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color:#450098 ;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
  border: 1px solid black;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.dropdown-content a:hover{
    color: black !important;
}

#introduction{
    padding: 5px 0;
    background: linear-gradient(rgb(51,102,153),#DBC5E9,#CDC8F9,#CCCAFF);
    height: 950px;
}

#column2{
    float: left;
     height: 600px;
    font-size: 40px;
    color: rgb(0,51,102);
    border-right: 5px solid #450098;
    width: 700px;
    font-weight: bold;
}
#information{
    float: left;
    font-weight:none;
    font-size: 22px;
}

#img{
    padding-left: 730px;
}

.images{
    padding-top: 10px;
    padding-right: 15px;
    float: left;
}

