body{
    font: Arial, Helvetica, sans-serif;
}

#container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

#header{
    height: 120px;
    background: linear-gradient(#360167,#6C02CD,#8F0B95,#BE0FC6);
}

#page {
    float: left;
    color: black;
    font-size: 40px;
    padding-top: 44px;
    padding-left: 10px;
}

#page a{
    color: black;
    text-decoration: none;
}

#brd{
    float: right;
    color: white;
    font-size: 80px;
    padding-right: 40px;
    padding-top: 10px;
    font-style: italic;
    font-weight: bold;
}

h1{
    float: left;
    width: 850px;
}


p{
    font-size: 30px;
    color: brown;
    padding-left: 30px;
    float: left;
    margin-top: 0;
    width: 850px;
}

h2{
    padding-left: 30px;
    float: left;
    width: 850px;
    margin-top: 0;
}

ul{
    width: 850px;
}
ul li{
    font-size: 20px;
    color: brown;
    padding-bottom: 10px;
    float: left;
}

.img{
    float: right;
    padding: 50px 0 10px 10px;
}

#lunch1{
    height: 510px;
    background: linear-gradient(#630dc2,#396a9c,#3cec97);
    margin: 20px 0;
    padding: 10px;
}

#lunch2{
    height: 500px;
    background: linear-gradient(#3cec97,#06bf48);
    margin: 20px 0;
    padding: 10px;
}

#lunch3{
    height: 350px;
    background: linear-gradient(#03c048,#5cbc63);
    margin: 20px 0;
    padding: 10px;
}
#lunch4{
    height: 370px;
    background: linear-gradient(#03c048,#5cbc63);
    margin: 20px 0;
    padding: 10px;
}

#lunch5{
    height: 320px;
    background: linear-gradient(#74b62e,#aef35a);
    margin: 20px 0;
    padding: 10px;
}

#lunch6{
    height: 330px;
    background: linear-gradient(#74b62e,#aef35a);
    margin: 20px 0;
    padding: 10px;
}

#lunch7{
    height: 388px;
    background: linear-gradient(#74b62e,#aef35a);
    margin: 20px 0;
    padding: 10px;
}

#lunch8{
    height: 320px;
    background: linear-gradient(#74b62e,#aef35a);
    margin: 20px 0;
    padding: 10px;
}

#lunch9{
    height: 330px;
    background: linear-gradient(#aef35a,#5cbc63);
    margin: 20px 0;
    padding: 10px;
}

#lunch10{
    height: 410px;
    background: linear-gradient(#aef35a,#5cbc63);
    margin: 20px 0;
    padding: 10px;
}

#lunch11{
    height: 330px;
    background: linear-gradient(#aef35a,#5cbc63);
    margin: 20px 0;
    padding: 10px;
}

#lunch12{
    height: 330px;
    background: linear-gradient(#5cbc63,#03c048);
    margin: 20px 0;
    padding: 10px;
}

#lunch13{
    height: 350px;
    background: linear-gradient(#06bf48,#3cec97);
    margin: 20px 0;
    padding: 10px;
}

#lunch14{
    height: 330px;
    background: linear-gradient(#3cec97,#396a9c,#630dc2);
    margin: 20px 0;
    padding: 10px;
}

.foot{
    height: 110px;
     background: linear-gradient(#524FFE,#763FE3,#9E2DC5,#FF017D);
}

#quote{
    font-weight: 600;
    text-decoration: bold !important;
    color: black;
    font-size: 40px;
     padding-left: 100px;
    padding-top: 0.3px;
    padding-bottom: 4.8px;
    float:left;
}
#pic{
    float:right;
      padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 3px;
}
